body{
    margin: 0;
}
nav{
    display: flex;
    height: 70px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    /* padding: 19px 20px; */
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}
.header-image{
    height: 30px;
    /* margin-left: 20px; */
    margin-right: 7px;
}
.nav-logo-text{
    margin-right: auto;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20.7482px;
    line-height: 24px;
    letter-spacing: -0.05em;

    color: #FFFFFF;
}
.nav-title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: right;

    color: #FFFFFF;
}
.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}
main{
    padding: 36px;
}
.form-input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form-button {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer; 
}

.try{
    box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;
}